
footer{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    height: auto;
  

}

.Footer {
  
  width: 100%;
  background: rgb(0,0,1);
 background: linear-gradient(0deg, rgba(0,0,1,1) 0%, rgba(14,29,62,1) 79%);
  border-radius:  20px 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   & div{width: 400px;}
   & h1{
    font-family: 'Big Shoulders Stencil Display', sans-serif;
   }
   & h1,p ,a{
    margin:  10px 20px;
    color: aliceblue;
   }

  }

  .FooterDiv1 { 
   
  }
  .FooterDiv2 { 
   & div{
    display: flex;
    flex-direction: column;

    & a:nth-child(5){
     color: rgb(62, 60, 222);
    }
   }


  }
  .FooterDiv3 {  
   
    display: flex;
    justify-content: center;
    align-items: center;
    & div{
      margin: 10px;
      padding: 0 0 0 20px ;
      display: flex;
      justify-content: space-between;
      width: 90%;
      background-color: rgb(42, 80, 80);
      border-radius: 50px;
      & input:hover,input:focus{
        color: white;
        outline: none;
       
      }

      & input{ 
        background-color: transparent;
        overflow: hidden;
        border: none;   
        height: 50px;
        width: 90%;
      }
      & img {
        width: 50px;
      }
    }
    
   
   
  }